.App {
  text-align: center;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container{
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 12px 24px 0 24px;
  background: white;
  padding: 32px 12px;
  width: 100%;
  border-radius: 10px;
}
.messages{
  background: white;
  border-radius: 10px;
  padding: 12px;
  flex-direction: column;
  transition: right 1s ease-in-out;
  display: flex;
  bottom: 24px;
  right: -500px;
  position: fixed;
  text-align: left;

}
.name{
  font-weight: 600;
}
.messages.active{
  right: 10px;
}


